<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
	   <form action='/updatecountrybyname'>
		<h1>{{c['name']}}</h1>
		<div class='properties'>
			<div>
				<div>Capital</div>
				<div><input name='name' value={{c['name']}} type="hidden"></div>
			</div>
			<div>
				<div>Capital</div>
				<div><input name='capital' value={{c['capital']}}></div>
			</div>
			<div>
				<div>Continent</div>
				<div><input name='continent' value={{c['continent']}}></div>
			</div>
			<div>
				<div>Population</div>
				<div>{{"{:,.0f}".format(c['population'])}}</div> 
			</div>
			<div>
				<div>GDP (million $)</div>
				<div>{{ "{:,.0f}".format(c['gdp']/1000000) }}</div>
			</div>
		</div>
		    <img src="/static/flags/{{c['tld']}}.gif" class='big'>
		    <input type='submit'>
		</form>
		<div> <a href='/delete/{{c.name}}'> Delete </a> </div>
	</body>
</html>